* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.25rem;
    text-align: center;
    padding: 20px;
    color: gray;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
    background-color: lightgray;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.466);
}

#container {
    display: flex;
    align-items: start;
}

#tabuada, #gerador-tabuada {
    background-color: lightgray;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.466);
}

#tabuada {
    flex: 1 1 auto;
}

#tabuada h2 {
    margin: 10px 10px 0px 10px;
}

#tabuada-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.tabuada-list {
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.466);
}

.tabuada-list li {
    list-style-type: none;
}

.tabuada-header {
    list-style-type: none;
    font-weight: bold;
    padding-bottom: 10px;
}

#gerador-tabuada {
    flex: 0 1 200px;
    width: 200px;
    background-color: lightgray;
}

#result {
    display: flex;
    flex-flow: wrap row;
}

.generated-tabuada {
    flex: 1 1 auto;
}

#form {
    margin: 10px;
    box-sizing: border-box;
}

#form h2 {
    margin: 0 0 10px 0;
}

#input-num {
    box-sizing: border-box;
    width: 80%;
}

#input-num:focus-within {
    outline: none;
}

#search {
    cursor: pointer;
    display: inline-block;
    background-color: darkgray;
}

#input-num, #search {
    border: none;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}

#reset {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: darkgray;
}

#reset:hover, #search:hover {
    border: 1px solid gray;
    padding: 4px;
}

.none {
    display: none!important;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
}

footer p {
    text-align: center;
}

footer p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #container {
        display: block;
    }

    #gerador-tabuada {
        width: 92%;
    }

}

@media screen and (min-width:1200px) {
    #container {
        width: 1000px;
        margin: auto;
    }
}